In [1]:
import pandas as pd

df = pd.read_csv('/home/pressprexx/Code/Cooleg/CAD/CAD-2024/goodbooksData/trainBooksSmall.csv')
df

       book_id  user_id  rating
0         1506       10       4
1         9606       11       3
2         3544       22       4
3         2320       24       3
4         9664       25       5
...        ...      ...     ...
11398     8100    53390       3
11399     9248    53393       3
11400     8206    53400       3
11401     1780    53422       4
11402     1109    53424       3

[11403 rows x 3 columns]

In [2]:
df['book_id'].nunique()

4766

In [3]:
df['user_id'].nunique()

11403